{include file="/../../com/view/public/meta" /}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
	<input type="hidden" value="{$list.id}" name="id">
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公司编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.code}" placeholder="" id="" name="companycode">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公司名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.name}" id="companyname" name="companyname">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">公司位置：</label>
					  <div class="formControls col-xs-8 col-sm-9"> 
			<span class="select-box" style="width:25%">
				<select class="select" size="1" name="province" id="province">
				{if condition="empty($list['province'])"}
				<option value="">请选择省市</option>
				{else /}
				<option value="{$list.province}">{$list.province}</option>
    			{/if}
    			{volist name="province" id="vo"}
					<option value="{$vo.name}">{$vo.name}</option>
				{/volist}
				</select>
				</span>&nbsp;--
				<span class="select-box" style="width:25%">
				<select class="select" size="1" name="city" id='cityinfo'>
				{if condition="empty($list['city'])"}
					<option value="">请选择市</option>
				{else /}
				<option value="{$list.city}">{$list.city}</option>
    			{/if}
				</select>
				</span>&nbsp;--
				<span class="select-box" style="width:25%">
				<select class="select" size="1" name="area" id="areainfo">
				{if condition="empty($list['area'])"}
					<option value="">请选择城区</option>
				{else /}
				<option value="{$list.area}">{$list.area}</option>
    			{/if}
				</select>
				</span> </div>
		</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.position}" id="company" name="position">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公司联系人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.contactname}" id="user" name="user">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.contacttel}" name="mobile" id="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$list.memo}" name="memo" id="memo">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				{if condition="$list['status']==1"}
				<div class="radio-box">
					<input name="status" type="radio" id="sex-1" value="1" checked>
					<label for="sex-1">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="status" value="0">
					<label for="sex-2">停用</label>
				</div>
				{else /}
				<div class="radio-box">
					<input name="status" type="radio" id="sex-1" value="1">
					<label for="sex-1">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="status" value="0" checked>
					<label for="sex-2">停用</label>
				</div>
				{/if}
			</div>
		</div>
		<br>
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{include file="/../../com/view/public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$("#form-member-add").validate({
		rules:{
			companycode:{
				required:true,
				// minlength:6,
				// maxlength:16,
			},
			companyname:{
				required:true,
				// minlength:6,
				// maxlength:16,
			},
			position:{
				required:true,
				// minlength:6,
				// maxlength:16,
			},
			user:{
				required:true,
				// minlength:6,
				// maxlength:16,
			},
			mobile:{
				required:true,
				// minlength:6,
				// maxlength:16,
			},
		},
		messages: {
      companycode: {
        required: "请输入公司名",
      },
  },
		submitHandler: function(form) {
            $(form).ajaxSubmit(options);
            return false;
        }
    })
	var options = {
	    url: "{:url('company/savecompany')}",
	    type: 'post',
	    success: function(data) {
	    	layer.msg(data.message);
	    	}
	    } 
})
$(document).ready(function() {
        $("#province").change(function(){
            var uu = $(this).find('option:selected').val();
            $.ajax({
            type:"POST",
            // url:'getcityinfo',
            url:"{:url('com/Cityarea/getcityinfo')}",
            data:{'province':uu},
            success:function(msg){
         // console.log(msg);
          $("#cityinfo").html(msg);
            }
        })
        });
        $("#cityinfo").change(function(){
            var uu = $(this).find('option:selected').val();
             var province = $('#province').find('option:selected').val();
            $.ajax({
                // url  :'getareainfo',
                url:"{:url('com/Cityarea/getareainfo')}",
                data :{'city':uu,'province':province},
                type :'POST',
                success:function(msg){
                    $("#areainfo").html(msg);
                }
            })
        });
    })
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>